.wb-courses-main {
    min-height: 100vh;
}

.wb-courses-course__edit-button {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}

.wb-courses-course__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

.wb-courses-course__cover-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.wb-courses-course-card {
    box-shadow: 0 4px 0 rgba(107, 127, 153, .5);
    cursor: pointer;
}

.wb-courses-course-card:hover {
    box-shadow: 0 6px 0 rgba(107, 127, 153, .5);
    transform: translateY(-2px);
}

.wb-courses-lesson-container {
    position: relative;
    height: 100vh;
}

.wb-courses-lesson-main {
    max-width: 900px;
    margin: 0 auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wb-courses-lesson-main .nav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wb-courses-lesson-main .nav {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.wb-courses-lesson-node-question {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
}

.wb-courses-lesson-main:has(.wb-code-mode) {
    max-width: 1200px;
}

.wb-courses-lesson-node-question.wb-code-mode {
    max-width: 100%;
}

.wb-courses-lesson-answer {
    background-color: #fff;
    border: 2px solid #c8d2db;
    border-radius: 4px;
    width: 100%;
    font-family: "Fira Mono", sans-serif;
    color: #2d3846;
}

.wb-courses-lesson-answer.initial {
    box-shadow: 0 2px 0 1px #c8d2db;
}

.wb-courses-lesson-answer.selected {
    background: rgba(20, 158, 242, .1);
    border-color: #149ef2;
}

.wb-courses-lesson-answer.correct {
    background: rgba(64, 175, 12, .1);
    border-color: #40af0c;
}

.wb-courses-lesson-answer.incorrect {
    background: rgba(242, 0, 87, .1);
    border-color: #f20057;
}

.wb-courses-lesson-arrow-pill {
    width: 42px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all 0.2s ease;
    cursor: pointer;

    /* double arrow tip: refined for slicker look */
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
}

.wb-courses-lesson-arrow-pill:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.wb-courses-lesson-arrow-pill.bg-warning {
    box-shadow: 0 0 8px rgba(255, 193, 7, 0.4);
}