.wb-comments__options {
    position: absolute;
    right: 8px;
    top: 5px;
}

.wb-comments__options__item {
    cursor: pointer;
}

.wb-comments__options__item:hover {
    color: gray;
}

.wb-comments-footer__replies,
.wb-comments-footer__reply {
    background: none;
    border: none;
    padding: 0;
}

.wb-comments-footer__replies:hover,
.wb-comments-footer__reply:hover {
    background: none;
    text-shadow: -0.025rem -0.012rem 0 currentcolor, .025rem .012rem currentcolor;
}