:root {
    overflow-x: hidden;
    --bGcolor: #e7edf5;
    --fontColor: #1f2023;
    --authFormBGcolor: rgb(255, 255, 255);
    --navBarBgColor: rgb(118, 165, 202);
    --hrefLinkColor: rgb(0, 26, 255);
    --colGridColor: linear-gradient(rgb(221, 238, 243), rgb(205, 210, 221));
    --footerColor: rgb(207, 214, 221);
    --chatGroupMembersListColor: rgb(195, 207, 219);
    --inputFormBgColor: rgb(240, 244, 247);
    --chatSideBarColor: rgb(185, 208, 231);
    --InputPlaceHolderColor: rgb(102, 102, 102);
}

body {
    background-color: var(--bGcolor);
    color: var(--fontColor);
}

.dark {
    --bGcolor: #1f2023;
    --fontColor: #efefef;
    --authFormBGcolor: rgb(36, 47, 58);
    --navBarBgColor: rgb(24, 23, 37);
    --hrefLinkColor: rgb(89, 236, 89);
    --colGridColor: linear-gradient(rgb(46, 79, 100), rgb(18, 28, 44));
    --footerColor: rgb(26, 26, 27);
    --chatGroupMembersListColor: rgb(45, 56, 68);
    --inputFormBgColor: rgb(60, 74, 88);
    --chatSideBarColor: rgb(43, 54, 68);
    --InputPlaceHolderColor: rgb(170, 170, 170);
}

a {
    color: var(--hrefLinkColor);
}

.navBarBG {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -apple-sticky;
    position: sticky;
    display:flexbox;
    top: 0px;
    z-index: 987;
    color: var(--fontColor);
    background-color: var(--navBarBgColor);
}

.smallnavform {
    font-size: small;
}

.forgot {
    font-size: 11px;
    color: rgb(59, 92, 10);
    text-decoration: none;
}

.navEntry {
    margin-top: 9px;
    height: fit-content;
}

.navButton {
    margin: 0px 4px 5px 4px;
    width: 100px;
    height: 40px;
}

.navFormContainer {
    height: 60px;
}

.NavLink {
    font-weight: 700;
    color: var(--fontColor);
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

Link{
    text-decoration: none;
}

.dropdown-toggle .nav-link {
    color: var(--fontColor);
}

.dropdown a {
    color: var(--fontColor);
}

.dropdown a:active {
    color: var(--fontColor);
}

.dropdown a:hover {
    color: var(--hrefLinkColor);
}

.dropdown-item:hover {
    color: rgb(81, 178, 223);
    background-color: #4f719944;
}

.nav-link {
    color: var(--fontColor);
}

.nav-link::after {
    color: var(--fontColor);
}

.nav-link:hover {
    color: rgb(81, 79, 189);
}

.nav-link:active {
    color: rgb(97, 62, 180);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--fontColor);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--fontColor);
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(88, 88, 112);
    background-color: rgba(188, 190, 212, 0.363);
    border: var(--bs-border-width) solid rgba(72, 72, 131, 0.514);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.NavLink:hover {
    color: rgb(63, 62, 168);
}

.NavLink:active {
    color: rgb(78, 76, 206);
}

.show {
    color: var(--fontColor);
}

.dropdown-menu{
    padding:10px;
}

.dropdown-menu,
.dropdown-item {
    background-color: var(--bGcolor);
    color: var(--fontColor);
}

.dropdown-menu:active {
    color: var(--fontColor);
}

.bannerImage {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: url('../resources/images/collageBlurred.jpg');
    background-attachment: fixed;
    background-position: center;
    z-index: -8;
}

.bannerImagePropsFore {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -apple-sticky;
    position: sticky;
    top: 123px;
    height: 84vh;
    left: 94px;
    margin-left: 13px;
    z-index: -5;
    color: white;
}

.frontWords{
    position: relative;
    top:30px;
}

@media screen and (min-width: 10px) {
    .bigLogoFront {
        width: 10px;
    }

    .svgContact{
        display:none;
    }

    .contactUsform{
        width: 90%;
    }

    .frontWords{
        top:20%;
    }

}

@media screen and (min-width: 200px) {
    .bigLogoFront {
        width: 200px;
    }

    .bannerText.bTbigger{
        font-size: 1.1em;
        padding-left: 1px;
    }

    .bannerText.bTsmaller{
        font-size: 0.8em;
        padding-left: 1px;
    }

    .bannerGitHubAdv {
        font-size: 0.51em;
        width: moz-fit-content;
        width: fit-content;
    }
}

@media screen and (min-width: 245px) {
    .bigLogoFront {
        width: 200px;
    }

    .bannerText.bTbigger{
        font-size: 1.1em;
        padding-left: 1px;
    }

    .bannerText.bTsmaller{
        font-size: 0.8em;
        padding-left: 1px;
    }

    .bannerGitHubAdv {
        font-size: 0.56em;
        width: moz-fit-content;
        width: fit-content;   
    }
}

@media screen and (min-width: 300px) {
    .bigLogoFront {
        width: 255px;
    }

    .bannerText.bTbigger{
        font-size: 1.5em;
        padding-left: 2px;
    }

    .bannerText.bTsmaller{
        font-size: 1.1em;
        padding-left: 2px;
    }

    .bannerGitHubAdv {
        font-size: 0.64em;
        width: moz-fit-content;
        width: fit-content;
    }
}

@media screen and (min-width: 330px) {
    .bigLogoFront {
        width: 255px;
    }

    .bannerText.bTbigger{
        font-size: 1.7em;
        padding-left: 1px;
    }

    .bannerText.bTsmaller{
        font-size: 1.3em;
        padding-left: 1px;
    }

    .bannerGitHubAdv {
        font-size: 0.81em;
        width: moz-fit-content;
        width: fit-content;
    }
}

@media screen and (min-width: 380px) {
    .bigLogoFront {
        width: 255px;
    }

    .bannerText.bTbigger{
        font-size: 1.7em;
        padding-left: 1px;
    }

    .bannerText.bTsmaller{
        font-size: 1.3em;
        padding-left: 1px;
    }

    .bannerGitHubAdv {
        font-size: 0.89em;
        width: moz-fit-content;
        width: fit-content;
    }
}

@media screen and (min-width: 600px) {
    .bigLogoFront {
        width: 300px;
    }

    .contactUsform{
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .bigLogoFront {
        width: 500px;
    }

    .svgContact{
        display:block;
    }

    .contactUsform{
        width: 40%;
    }

    .frontWords{
        position: relative;
        top:13%;
    }

    
}

@media screen and (min-width: 1400px) {
    .bigLogoFront {
        width: 700px;
    }
}

@media screen and (min-width: 2000px) {
    .bigLogoFront {
        width: 1000px;
    }
}

.bannerText {
    font-size: 1.9em;
    padding-left: 42px;
}

.bTsmaller {
    font-weight: 200;
}

.bTbigger {
    font-weight: 500;
    margin-top: 54px;
}

.bannerGitHubAdv {
    position: relative;
    bottom: 80px;
    float: right;
    color: white;
    z-index: 51;
    background-color: rgba(23, 39, 97, 0.712);
    border-radius: 9px;
    padding-right: 10px;
}

.gitlogo {
    vertical-align: middle;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.719);
}

.mainAfterBanner {
    /* Styling for Home page's <main> */

    /* Adjust this height, Solo, it is a must, ok. */
    height: 1354px;
    /* This height is for the main scrolling div */
}




/* Home grid  vvvv*/

.rowHome::after {
    content: "";
    clear: both;
    display: block;
    height: moz-fit-content;
    height: fit-content;
}

[class*="col-"] {
    float: left;
    padding: 45px;
    display: block;
}

/* Grid layout for desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    height: 480px;
    border: var(--bGcolor) solid 21px;
    border-radius: 40px;
    background-color: #5f9fe917;
    background-image: var(--colGridColor);
}

.col-7 {
    width: 50%;
    height: moz-fit-content;
    height: fit-content;
    border: var(--bGcolor) solid 21px;
    border-radius: 40px;
    background-color: #5f9fe917;
    background-image: var(--colGridColor);
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* Grid layout for mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .mainAfterBanner {
        /* Styling for Home page's <main> */
        height: 2470px;
    }
}

/* Home grid ^^^*/



main {
    display: block;
    background-color: var(--bGcolor);
    padding: 20px;
    min-height: 99vh;
}

.footer {
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
    color: var(--fontColor);
    padding: 30px 0px;
    text-align: center;
    background-color: var(--footerColor);
    z-index: 3;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.7% 0%;
    color: var(--fontColor);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: var(--fontColor);
    transition: 0.6s;
}

.footer .row a:hover {
    color: #651eb6;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 29px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.socialIcons {
    display: inline-block;
}

@media (max-width: 710px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

.text-divider span {
    background-color: #f5f5f5;
    padding: 4px;
}

.text-divider:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 99, 141, 0.116);
    z-index: 10;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

.quick-scroll-button {
    display: none;
    opacity: 0.4;
    position: fixed;
    z-index: 99;
    font-size: 11px;
    border: none;
    outline: none;
    background-color: rgb(65, 70, 136);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.quick-scroll-button-chat {
    opacity: 0.4;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: rgb(65, 70, 136);
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

#myBtnTop {
    bottom: 60px;
    right: 5px;
}

#myBtnBottom {
    bottom: 10px;
    right: 7px;
}

#myBtn:hover {
    background-color: #555;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}


/* Members List styling   vvvvvvv */
.memberListItem{
    background-color: #817da133;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 9px;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listItemNameUser{
    display: inline;
    margin-left: 20px;
}
/* Members List styling   ^^^^^^^^ */


.message-box {
    scroll-behavior: smooth;
}

.message-box> :first-child {
    margin-top: auto;
}

.chat-sidebar {
    position: absolute;
    height: 100%;
    z-index: 9;
    background: var(--chatSideBarColor);
    transition: 800ms transform;
    top: 0;
    border-right: 1px solid silver;
}

.chat-sidebar-closed {
    transform: translate(-100%, 0);
}

.chat-setting-bar {
    background: var(--navBarBgColor);
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    left: 0;
    z-index: 0;
    top: 55px;
    transition: 800ms transform;
}

.chat-setting-bar-closed {
    transform: translate(0, -100%);
}

.rounded-circle{
    border: 1px solid grey;
}

.inputTag{
    width:100%;
    border-radius: 10px;
    height:50px;
    padding:10px;
    background-color: var(--inputFormBgColor);
    color: var(--fontColor);
    border: 1px solid grey;
    
}

::-webkit-input-placeholder { /* Edge */
    color: var(--InputPlaceHolderColor);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--InputPlaceHolderColor);
  }
  
  ::placeholder {
    color: var(--InputPlaceHolderColor);

  } 

.alert{
    background-color: rgba(235, 91, 91, 0.39);
}

.pageNameBannerTop{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -apple-sticky;
    position: sticky;
    top:65px;
    background-color: var(--bGcolor);
    z-index: 9;
    padding-bottom: 10px;
}

.pageNameBannerTop.is-pinned{
    background-color: pink;
}





/* Contact Form styling vvvvvvv */
svg {
	height: 23rem;
	margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.form-container {
	height: 100vh;
    margin: 0px;
    padding: 0px;
}

.bttn.bttn-primary {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 2.5rem;
  color: white;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #404dff, #632da1, #3cb7ff, #333281);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.bttn.bttn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

.form-group > input, .form-group > textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.0em;
}

/* Contact Form styling ^^^^^^^ */




.linksNoDecor{
    color: inherit; 
    text-decoration: none; 
}

.pointerHere{
    cursor: pointer;
}




/* Social Network main page styling vvvvvvvv */

.socialContainer{
    height: calc(100vh - 133px);
    margin:0px;
    padding: 0px;
}

.socialLeft {
  float: left;
  height: 100%;
  width: 20%; /* The width is 20%, by default */
  overflow-y: scroll;
}

.socialMiddle {
  float: left;
  height: 100%;
  width: 55%; /* The width is 60%, by default */
  overflow-y: scroll;
}

.socialRight {
  float: left;
  height: 100%;
  width: 25%; /* The width is 20%, by default */
  overflow-y: scroll;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .socialMiddle{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    overflow-y: scroll;
  }

  .socialRight, .socialLeft{
    display: none;
  }

  .side-menu-left, .side-menu-right{
    display: flex;
    top: -50px;
    z-index: 3;
  }
}

@media screen and (min-width: 801px) {
    .side-menu-left, .side-menu-right{
        display: none;
      }
}

.stickySocial{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -apple-sticky;
    position: sticky;
    top:0px;
}

.postsList{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.postsListItem{
    background-color: #6e95c270;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    padding: 10px;
    height: 300px;
    
}


.side-menu-left{
    width: 75%;
    height: calc(99% + 50px);
    padding: 50px 0;
    box-sizing: border-box;
    background-color: var(--authFormBGcolor);
    flex-flow: column nowrap;
    box-shadow: 5px 0px 10px rgba(17, 26, 41, 0.6);
    position: absolute;
    transform: translateX(-100%);
    transition: .5s;
}
.side-menu-left form{
    display: flex;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff;

}
.side-menu-left form input,
.side-menu-left form button{
    background-color: transparent;
    color: #fff;
    border:none;
    padding:5px 10px;
}
.side-menu-left form input{
    width: 230px;
}
.side-menu-left label{
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #000;
    color: #fff;
    right: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    border-radius: 0 10px 10px 0;
}
#side-menu-left-switch{
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
}
#side-menu-left-switch:checked + .side-menu-left{
    transform: translateX(0%);
}
#side-menu-left-switch:checked + .side-menu-left label .fas{
    transform:scaleX(0);
}
.side-menu-left form button{
    width: 50px;
}
.side-menu-left form input:focus::placeholder{
    color: #ccc;
}
.side-menu-left form input:focus,
.side-menu-left form button:focus{
    outline: none;
}



/* Right side bar */
.side-menu-right{
    width: 90%;
    height: calc(99% + 50px);
    padding: 50px 0;
    box-sizing: border-box;
    background-color: var(--authFormBGcolor);
    flex-flow: column nowrap;
    box-shadow: 0px 20px 20px rgba(17, 26, 41, 0.6);
    position: absolute;
    transition: .5s;
    right:0px;
    transform: translateX(100%);
}
.side-menu-right form{
    display: flex;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff;

}
.side-menu-right form input,
.side-menu-right form button{
    background-color: transparent;
    color: #fff;
    border:none;
    padding:5px 10px;
}
.side-menu-right form input{
    width: 230px;
}
.side-menu-right label{
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #000;
    color: #fff;
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px 0 0 10px;
}
#side-menu-right-switch{
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
}
#side-menu-right-switch:checked + .side-menu-right{
    transform: translateX(0%);
}
#side-menu-right-switch:checked + .side-menu-right label .fas{
    transform:scaleX(0);
}
.side-menu-right form button{
    width: 50px;
}
.side-menu-right form input:focus,
.side-menu-right form button:focus{
    outline: none;
}

/* Social Network main page styling ^^^^^^^^ */