.wb-p-container {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    margin: 0 auto;
    min-height: 100vh;
}

.wb-p-section__card {
    max-width: 360px;
    margin: 0 auto;
}

.wb-p-details__row {
    margin-bottom: 8px;
}

.wb-p-details__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .wb-p-details__avatar {
        margin: 0 0 16px;
    }
}

@media(min-width: 576px) {
    .wb-p-details__bio {
        text-align: left;
    }
}

.wb-p-details__avatar-badge {
    margin-top: -16px;
}

.wb-p-details__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.wb-p-details__follows__button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0;
}

.wb-p-details__follows__button:hover {
    background: none;
    text-shadow: -0.025rem -0.012rem 0 currentcolor, .025rem .012rem currentcolor;
}

.wb-p-details__bio {
    text-align: center;
    word-break: break-all;
}

.wb-p-details-delete-modal__backdrop {
    z-index: 1059 !important;
}