ul,
p {
    margin: 0;
}

ul {
    list-style: none;
}

.wb-login-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wb-login-container {
    width: 392px;
}

.wb-user__image {
    border-radius: 50%;
}
.channel-message:hover{
    background-color: lightgray;
}
@media(max-width: 449px) {
    .wb-login-container {
        width: 100%;
        padding: 32px 24px;
    }
}

.wb-p-container {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    margin: 0 auto;
    min-height: 100vh;
}

.wb-p-section__card {
    max-width: 360px;
    margin: 0 auto;
}

.wb-p-details__row {
    margin-bottom: 8px;
}

.wb-p-details__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .wb-p-details__avatar {
        margin: 0 0 16px;
    }
}

.wb-p-details__avatar-badge {
    margin-top: -16px;
}

.wb-p-details__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.wb-p-details__follows__button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0;
}

.wb-p-details__follows__button:hover {
    background: none;
    text-shadow: -0.025rem -0.012rem 0 currentcolor, .025rem .012rem currentcolor;
}

.wb-p-follow-item__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wb-p-follow-item__name {
    font-size: 14px;
}

.wb-p-details__bio {
    text-align: center;
    word-break: break-all;
}

@media(min-width: 576px) {
    .wb-modal__container.edit-profile {
        width: 567px;
        min-height: 544px;
    }

    .wb-modal__container.follows {
        width: 367px;
        max-height: 80vh;
    }

    .wb-modal__container.codes {
        width: 360px;
        max-height: 80vh;
    }

    .wb-modal__container.console {
        height: 923px;
        max-height: 90vh;
    }

    .wb-modal__container.comments {
        height: 796px;
        max-height: 90vh;
        position: relative;
    }

    .wb-p-details__bio {
        text-align: left;
    }
}

/*Webler home page*/

.wb-home {
    width: 100%;
    height: 700px;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
}

.wb-home .header p {
    font-size: 60px;

}


.wb-home-why-wb {
    width: 100%;
    height: auto;
    background-color: aliceblue;
}


.wb-home-why-wb img {
    width: 100%;
}


/*Webler discuss page*/

.wb-discuss-questions-list-page {
    min-height: 100vh;
}

.wb-discuss-empty-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px auto;
}

.wb-discuss-questions-list-page__questions-section {
    max-width: 100%;
    width: 872px;
}

.wb-discuss-hot-today {
    flex-grow: 1;
    margin: 24px 0 0 0;
}

@media(min-width: 992px) {
    .wb-discuss-questions-list-page__questions-section {
        max-width: 60%;
    }

    .wb-discuss-hot-today {
        max-width: 424px;
        margin: 0 32px;
    }
}

.wb-home-why_wb_card {
    border: none;
    color: rgb(57, 57, 57);
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.wb-home-why-wb img {
    width: 100%;

}

.wb-home-platform_header {
    margin-top: 80px;
    margin-bottom: 80px;
    color: rgb(57, 57, 57);
}

.wb-home-perfect-platform {

    width: 100%;
    height: auto;

}

.wb-home-perfect-platform_card {
    border: none;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
    color: rgb(64, 85, 104);
    margin-bottom: 80px;

}

.wb-banner::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url("/resources/images/collageBlurred.jpg");
    background-size: min(100%, 1200px);
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -10;
}

.wb-banner {
    position: relative;
    height: calc(100dvh - 60px);
    min-height: 360px;
    padding: 48px;
}

.wb-banner__logo {
    display: flex;
    width: 100%;
}

.wb-banner__logo__img {
    width: 480px;
}

.wb-banner__text {
    font-size: 60px;
    font-weight: 600;
}

.wb-banner__slogan {
    border-top: 2px solid #f2f2f2;
    font-size: 40px;
}

@media (max-width: 720px) {
    .wb-banner {
        padding: 24px;
    }

    .wb-banner__logo {
        justify-content: center;
    }

    .wb-banner__logo__img {
        width: 360px;
    }

    .wb-banner__text {
        font-size: 45px;
    }

    .wb-banner__slogan {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .wb-banner {
        padding: 12px;
    }

    .wb-banner__logo__img {
        width: 240px;
    }

    .wb-banner__text {
        font-size: 30px;
        font-weight: 600;
    }

    .wb-banner__slogan {
        font-size: 20px;
    }
}

.wb-home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wb-home-content {
    padding: 80px 0 80px 0;
}

.wb-home-card {
    min-height: 360px;
}

/* wb join us */

.wb-home-sign-up-form {
    padding: 24px;
    color: rgb(61, 76, 88);
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    min-height: 720px;
}


.wb-home-footer {
    color: rgb(121, 121, 121);
    font-weight: 700;
    text-decoration: none;
}

.wb-home-footer a {
    color: rgb(121, 121, 121);
    font-weight: 700;
    text-decoration: none;
}

.wb-made-by {
    color: rgb(121, 121, 121);
    font-weight: bolder;
    margin-right: 50px;
}

.wb-made-by b {
    color: #fff;
}

/* Webler Contact Page */

.wb-contact-page {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #f2f2f2;
}

.wb-contact-form {
    color: rgb(61, 76, 88);
    max-width: 800px;
    font-weight: 600;
    padding: 20px;
    transform: translate(0, 10px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px #c6c6c6;
    border-radius: 5px;
}

/* Webler Terms of use page */

.wb-term-conditions-container {
    background-color: #f2f2f2;
    padding: 10px;
    height: 100%;
}

.wb-term-conditions {
    padding: 40px;
    border-radius: 5px;
    color: rgb(61, 76, 88);
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(231, 229, 229);
}

/* Make the Header NavBar to be sticky on the top of screen always */
.stickyNavbarOnTop {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0px;
    z-index: 245;
}

.wb-feature-create_posts {
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.wb-feed-posts-container {
    width: 100%;
    padding: 10px;
    background-color: #e8eaf0;
}

.wb-feed-posts {
    max-width: 800px;
}

.wb-post {
    border: none;
}

.wb-discuss-question__main {
    max-width: 80%;
    width: 649px;
}

.wb-discuss-question__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

@media (max-width: 767px) {
    .wb-discuss-question__description {
        width: 80%;
    }

    .wb-discuss-question__title {
        width: 80%;
    }
}

.wb-discuss-reply__edit-button {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}

.wb-discuss-voting {
    min-width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wb-discuss-voting__button {
    cursor: pointer;
    color: silver;
}

.wb-discuss-voting__button:hover {
    color: gray;
}

.wb-discuss-reply__actions {
    width: 50px;
    text-align: center;
}

.wb-discuss-reply__actions__best-answer-button {
    font-size: 26px;
}

.wb-playground-wrapper {
    min-height: 100vh;
}

.wb-playground-container {
    position: fixed;
    width: 100%;
}

.wb-playground-container__content {
    height: calc(100dvh - 162px);
}

.wb-web-wrapper__frame-wrapper__console-btn {
    position: absolute;
    right: 2px;
    bottom: 4px;
}

.wb-language-types__item {
    display: flex;
    justify-content: center;
}

.wb-language-types__language-button {
    width: 364px;
    max-width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 0;
}

.wb-language-types__language-button:hover {
    box-shadow: 0 10px 0;
    transform: translateY(-6px);
}

.wb-language-types__language-button a {
    font-size: 24px;
    height: 100%;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 24px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}


.wb-playground-voting {
    min-width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wb-playground-voting__button {
    cursor: pointer;
    color: silver;
}

.wb-playground-voting__button:hover {
    color: gray;
}

.wb-playground-comments {
    min-width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wb-playground-comments__button {
    cursor: pointer;
}

.wb-playground-comments__message {
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

.wb-playground-output-web {
    display: flex;
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    width: 100%;
}

.wb-playground-options__button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.wb-user-comment__options {
    position: absolute;
    right: 8px;
    top: 5px;
}

.wb-user-comment__options__item {
    cursor: pointer;
}

.wb-user-comment__options__item:hover {
    color: gray;
}

.wb-user-comment-footer__replies,
.wb-user-comment-footer__reply {
    background: none;
    border: none;
    padding: 0;
}

.wb-user-comment-footer__replies:hover,
.wb-user-comment-footer__reply:hover {
    background: none;
    text-shadow: -0.025rem -0.012rem 0 currentcolor, .025rem .012rem currentcolor;
}

.wb-user-comment__thread {
    margin-left: 56px;
    margin-top: 24px
}

.wb-blog {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 720px;
}

.wb-blog__content-item__title {
    cursor: pointer;
}

.wb-courses-main {
    min-height: 100vh;
}

.wb-courses-course__edit-button {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}

.wb-courses-course__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

.wb-courses-course__cover-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.wb-courses-course-card {
    box-shadow: 0 4px 0 rgba(107, 127, 153, .5);
    cursor: pointer;
}

.wb-courses-course-card:hover {
    box-shadow: 0 6px 0 rgba(107, 127, 153, .5);
    transform: translateY(-2px);
}

.wb-course-lesson-container {
    position: relative;
    height: 100vh;
}

.wb-course-lesson-main {
    max-width: 648px;
    margin: 0 auto;
}

.wb-lesson-node-question {
    width: 100%;
    max-width: 552px;
    margin: 0 auto;
    flex-grow: 1;
}

.wb-course-lesson-answer {
    background-color: #fff;
    border: 2px solid #c8d2db;
    border-radius: 4px;
    width: 100%;
    font-family: "Fira Mono", sans-serif;
    color: #2d3846;
}

.wb-course-lesson-answer.initial {
    box-shadow: 0 2px 0 1px #c8d2db;
}

.wb-course-lesson-answer.selected {
    background: rgba(20, 158, 242, .1);
    border-color: #149ef2;
}

.wb-course-lesson-answer.correct {
    background: rgba(64, 175, 12, .1);
    border-color: #40af0c;
}

.wb-course-lesson-answer.incorrect {
    background: rgba(242, 0, 87, .1);
    border-color: #f20057;
}

.wb-course-lesson-arrow-pill {
    width: 48px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* double arrow tip: left and right both angled forward */
    clip-path: polygon(0% 0%,
            /* top-left inward angle */
            85% 0%,
            /* top-right inward angle */
            100% 50%,
            /* right point */
            85% 100%,
            /* bottom-right inward */
            0% 100%,
            /* bottom-left inward */
            15% 50%
            /* left point */
        );
}

.wb-channels-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.wb-channels-list__button {
    cursor: pointer;
    font-size: 20px;
}
