ul,
p {
    margin: 0;
}

ul {
    list-style: none;
}

.wb-login-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wb-login-container {
    width: 392px;
}



.wb-user__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

@media(max-width: 449px) {
    .wb-login-container {
        width: 100%;
        padding: 32px 24px;
    }
}

.wb-p-details__row {
    margin-bottom: 8px;
}

.wb-p-details__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 24px;
}

@media(min-width: 576px) {
    .wb-p-details__avatar {
        margin: 0 32px;
    }
}

.wb-p-details__avatar-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.wb-p-details__name {
    font-size: 26px;
    font-weight: 600;
    line-height: 120%;
}

.wb-p-details__follows__button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0;
}

.wb-p-details__follows__button:hover {
    background: none;
    text-shadow: -0.025rem -0.012rem 0 currentcolor, .025rem .012rem currentcolor;
}

.wb-p-follow-item__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.wb-p-follow-item__avatar-image {
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

.wb-p-follow-item__name {
    font-weight: 600;
    line-height: 120%;
    word-break: break-all;
}



@media(min-width: 576px) {
    .wb-modal__container.edit-profile {
        width: 567px;
        min-height: 544px;
    }

    .wb-modal__container.follows {
        width: 367px;
        max-height: 80vh;
    }
}

/*Webler home page*/

.wb-home {
    width: 100%;
    height: 700px;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
}

.wb-home .header p {
    font-size: 60px;

}


.wb-home-why-wb {
    width: 100%;
    height: auto;
    background-color: aliceblue;
}


.wb-home-why-wb img {
    width: 100%;
}


/*Webler discuss page*/

.wb-discuss-questions-list-page__questions-section {
    max-width: 100%;
    width: 872px;
}

.wb-discuss-hot-today {
    flex-grow: 1;
    margin: 24px 0 0 0;
}

@media(min-width: 992px) {
    .wb-discuss-questions-list-page__questions-section {
        max-width: 60%;
    }

    .wb-discuss-hot-today {
        max-width: 424px;
        margin: 0 32px;
    }
}

.wb-home-why_wb_card {
    border: none;
    color: rgb(57, 57, 57);
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.wb-home-why-wb img {
    width: 100%;

}

.wb-home-platform_header {
    margin-top: 80px;
    margin-bottom: 80px;
    color: rgb(57, 57, 57);
}

.wb-home-perfect-platform {

    width: 100%;
    height: auto;

}

.wb-home-perfect-platform_card {
    border: none;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
    color: rgb(64, 85, 104);
    margin-bottom: 80px;

}



.wb-home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wb-home-header__container {
    padding: 32px 28px 64px 28px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wb-home-header__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 16px;
    text-align: center;
}

.wb-home-header__info {
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
    max-width: 657px;
    text-align: center;
}

@media (max-width: 1023px) and (min-width: 600px) {

    .wb-home-header__title {
        font-size: 50px;
    }

    .wb-home-header__info {
        font-size: 16px;
        max-width: 416px;
    }
}

@media (max-width: 599px) {

    .wb-home-header__title {
        font-size: 50px;
        margin-bottom: 36px;
        min-width: 295px;
        padding: 0 32px;
    }

    .wb-home-header__info {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 34px;
        max-width: 295px;
    }
}


/*Why code*/

.wb-home-why-code {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: auto;
    margin-bottom: 80px;

}

.wb-home-why-code .wb_card {
    border: none;
    max-width: 600px;
    color: rgb(64, 85, 104);
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.wb-why-code_header {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    color: rgb(57, 57, 57);
}

/* wb join us */

.wb-home-join-us_header {
    width: 100%;
    margin-top: 100px;
}

.wb-home-join-us {
    height: auto;
}

.wb-home-sign-up-form {
    padding: 20px;
    color: rgb(61, 76, 88);
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    transform: scale(0.9);
}


.wb-home-footer {
    color: rgb(121, 121, 121);
    font-weight: 700;
    text-decoration: none;
}

.wb-home-footer a {
    color: rgb(121, 121, 121);
    font-weight: 700;
    text-decoration: none;
}

.wb-made-by {
    color: rgb(121, 121, 121);
    font-weight: bolder;
    margin-right: 50px;
}

.wb-made-by b {
    color: #fff;
}

/* Webler Contact Page */

.wb-contact-page {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #f2f2f2;
}

.wb-contact-form {
    color: rgb(61, 76, 88);
    max-width: 800px;
    font-weight: 600;
    padding: 20px;
    transform: translate(0, 10px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px #c6c6c6;
    border-radius: 5px;
}

/* Webler Terms of use page */

.wb-term-conditions-container {
    background-color: #f2f2f2;
    padding: 10px;
    height: 100%;
}

.wb-term-conditions {
    padding: 40px;
    border-radius: 5px;
    color: rgb(61, 76, 88);
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(231, 229, 229);
}

/* Make the Header NavBar to be sticky on the top of screen always */
.stickyNavbarOnTop {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0px;
    z-index: 245;
}

.wb-feature-create_posts {
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.wb-feed-posts-container {
    width: 100%;
    padding: 10px;
    background-color: #e8eaf0;
}

.wb-feed-posts {
    max-width: 800px;
}

.wb-post {
    border: none;
}

.wb-discuss-question__main {
    max-width: 80%;
    width: 649px;
}

.wb-discuss-question__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

.wb-discuss-reply__edit-button {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}